a,
a:hover {
  text-decoration: none;
}

.modal,
.modal2,
.modal3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity .6s !important;

}

.modal--show,
.modal2--show,
.modal3--show {
  opacity: 1 !important;
  pointer-events: unset !important;
  transition: opacity .6s !important;
}

.modal__container,
.modal2__container,
.modal3__container {
  width: 90%;
  background-color: midnightblue;
  margin: auto;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 1em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform) !important;
  transition: var(--transition) !important;
  overflow-x: hidden;
}

.modal2__container {
  max-width: 1200px !important;
}

.modal__title,
.modal__title2,
.modal__title3 {
  font-size: 2.5rem;
  margin: 0;
}

.btn-cerrar-modal,
.btn-cerrar-modal2,
.btn-cerrar-modal3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.modal__close,
.modal2__close,
.modal3__close {
  text-decoration: none;
  color: #000;
  background-color: red;
  padding: 8px 15px;
  /* border: 1px solid; */
  border-radius: 6px;
  display: inline-block;
  font-weight: 800;
  transition: background-color .3s;
}

.modal__close:hover,
.modal2__close:hover,
.modal3__close:hover {
  color: red;
  background-color: #fff;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.inputs-modal {
  font-size: 15px;
  width: 250px;

}

.textarea-form-class {
  /* field-sizing: content; */
  max-height: 200px;
  resize: none;
}

.btn_añadirr {
  padding: 1em 2em;
  border-radius: 6px;
  font-weight: 600;
}

.form-control {
  width: 100%;
}

@media (max-width: 800px) {
  .modal__container {
    padding: 2em 1.5em;
  }

  .modal__title {
    font-size: 2rem;
  }
}


.bad {
  display: none;
  background-color: darkred;
}